* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 5, 26);
  color: #ffffff;
  font-family: Arial;
}
.container {
  text-align: center;
}
.navbar {
  background-color: rgb(39, 17, 33);
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
}
.nav-link {
  color: #fff;
}

.nav-item {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  color: #fff;
}
.nav-link:hover {
  color: #edc9c9;
}
 .navbar-nav .nav-item .nav-link.active {
  color: #edc9c9;
}
.card {
  width: 200px;
  padding: 0;
  cursor: pointer;
}

.card-img-top {
  overflow: hidden;
  height: 230px;
  width: 100%;
  object-fit: cover;
}
h5 {
  font-size: 1rem;
}
small {
  font-size: 0.7rem;
}
.standout {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 0px 4px rgb(235, 95, 184);
}
.heart {
  position: relative;
  width: 12px;
  height: 12px;
  cursor: pointer;
  display: inline;
}

.red-heart::before {
  content: "\2764";
  font-size: 12px;
  color: red;
  margin-left: 0.3rem;
}

.white-heart::before {
  content: "\1F90D";
  font-size: 15px;
  color: #fff;
  margin-left: 0.3rem;
}

.subtitle {
  display: flex;
  align-items: center;
}
